<launch>
  <node name="ugv_01" pkg="pf_plus_consensus" type="first_blood" output="screen">
  </node>
  <node name="ugv_02" pkg="pf_plus_consensus" type="double_kill" output="screen">
  </node>
  <node name="ugv_03" pkg="pf_plus_consensus" type="triple_kill" output="screen">
  </node>
  <node name="uav_01" pkg="pf_plus_consensus" type="quadra_kill" output="screen">
  </node>
</launch>
